In [ ]:
# Clone the entire repo.
!git clone -l -s https://github.com/Balaji-github007/Intro-to-Pandas.git cloned-repo
%cd cloned-repo
!ls

Looking at the Titanic dataset.

In [ ]:
#Load the Pandas library

In [ ]:
# Load the train and test datasets to create two DataFrames
train = pd.read_csv("trainTitanic.csv")

test = pd.read_csv("testTitanic.csv")

Look at the test and training sets using head, tail, and/or describe

What is the shape of the training and test sets?

How many people survived?

What is the percentage of people that survived?

How many males and females survived?

What is the range of the fares?

How many people under the age of 16 surivived?

How many unique values are there in the training set?

How many different embark locations?

List the cabins in ascending order, list NaN values last.

**Creating a Mask**<br>
Filtering 2 or more conditions<br>
Using the and logic function

In [ ]:
#Women who paid less than 50 dollars fare
train_fare_mask = train["Fare"] < 50
train_sex_mask = train["Sex"] == "female"
train[train_fare_mask & train_sex_mask]

Filtering with the OR logic function

In [ ]:
#Passengers who paid more than $500 fare or are over 70 years old
train_fare_mask2 = train["Fare"] > 500
train_age_mask = train["Age"] > 70
train[train_fare_mask2 | train_age_mask]

**Finding the Null values**

What is the sum of all the missing data?

**Drop columns**<br>
If a column has a lot of missing data, it might be best to drop it.

In [ ]:
train.drop(labels = ["Cabin"], axis=1).head()

**Drop columns**<br>
More than one column can be dropped at a time

In [ ]:
train.drop(labels = ["Cabin", "Name"], axis=1).head()

**Fill missing data**

In [ ]:
train["columnname"].fillna(0, inplace = True) #with inplace argument, we don't have to write it as
train["columnname"] = train["columnname"].fillna(0, inplace = True)

In [ ]:
train["Age"].fillna("Unknown", inplace = True)
train

train['Age'] = train['Age'].fillna((train['Age'].median()))